<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">First Name</label>
    <input type="text" id="name" name="name" formControlName="name">
  </p>
  <div *ngIf="!name?.valid && name?.touched && name?.errors?.['required']" class="error">
    Firstname is required!
  </div>
  <p>
    <label for="surname">Last Name</label>
    <input type="text" id="surname" name="surname" formControlName="surname">
  </p>
  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
  </p>
  <div *ngIf="!password?.valid && password?.touched && password?.errors?.['required']" class="error">
    Password is required!
  </div>
  <!-- <div *ngIf="!password?.valid && password?.errors?.['minlength']" class="error">
    Password should be at least {{password?.errors?.['minlength'].requiredLength}} characters!
    You have entered {{password?.errors?.['minlength'].actualLength}} characters!
  </div> -->
  <div *ngIf="!password?.valid && password?.errors?.['strengthPassword']" class="error">
    Password should be at least {{password?.errors?.['strengthPassword'].value}} characters!
    You have entered {{password?.errors?.['strengthPassword'].actualLength}} characters!
  </div>
  <!-- <div *ngIf="!password?.valid && password?.errors?.['strengthPassword']" class="error">
    Password should be at least {{password?.errors?.['strengthPassword'].value}} characters!
  </div> -->
  <p>
    <label for="age">Age</label>
    <input type="text" id="age" name="age" formControlName="age">
  </p>

  <div formGroupName="address">
    <p>
      <label for="city">City</label>
      <input type="text" name="city" formControlName="city">
    </p>

    <p>
      <label for="street">Street</label>
      <input type="text" name="street" formControlName="street">
    </p>
  </div>
  <p>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
    <button style="margin-left: 4px;" type="button" (click)="reset()">Reset Form</button>
  </p>

  <pre>Value : {{userForm.value | json }} </pre>
  <pre>Valid : {{userForm.valid}} </pre>
  <pre>Touched : {{userForm.touched  }} </pre>

  <pre>Value    : {{name?.value}} </pre>
  <pre>valid    : {{name?.valid}} </pre>
  <pre>invalid  : {{name?.invalid}} </pre>
  <pre>touched  : {{name?.touched}} </pre>
</form>


<h3 *ngIf="isLoading">Loading...</h3>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index; let first=first; let last=last; let odd=odd; let even=even;"
      [ngClass]="{first: first, last: last, odd: odd, even: even}">
      <td>{{i}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.age}}</td>
      <td>{{user.email}}</td>
      <td>
        <button [routerLink]="['/user', user.id]" [queryParams]="{isUserActive}">
          Detail
        </button>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<h4>Child Page</h4>
<router-outlet></router-outlet>