h2 {
  color: red;
}

.makeRed {
  color: #ff0000;
  font-weight: 900;
}

.makeBlackBg {
  background-color: black;
}

tr.first {
  background-color: lightblue;
}

.last {
  background-color: gray;
}

.odd {
  background-color: gray;
}

.even {
  background-color: lightblue;
}




// specificity (özgüllük)
