<h2>Gelir İdaresi Başkanlığı - Angular Eğitimi</h2>

<!-- Data Binding -->
<!-- 1 way data binding  (3 farklı opsiyonu var) (componentten view'e)-->
<!-- 1-String Interpolation {{}} -->
{{title}}
<br>
{{50*2}}
<br>
{{60/3}}
<br>
{{getTitle()}}
<br>
<p>
  <span class="{{makeRedWithClass}}">
    Kırmızı Metin (class)
  </span>
</p>

<p>
  <span style.color="{{makeRedStyle}}">
    Kırmızı Metin (style.color)
  </span>
</p>

<div>
  <img src="{{imageRef}}" alt="Logo" width="50">
</div>

<p>
  <a href="{{documentLinkRef}}">Angular Document</a>
</p>
<hr>
<!-- 2-property binding [] -->
<h4>Property Binding - (1-way)</h4>

<p [innerText]="pText"></p>
<button [disabled]="isButtonDisabled">Click Me</button>
<img [src]="imageRef" alt="Logo" width="50">
<input #inputRef type="text" [value]="dynamicValue" (input)="updateDynamicValue($event)">
<span>Value: {{dynamicValue}}</span>
<hr>


<h4>Event Binding - (1-way) Template->Component ()</h4>
<button (click)="activateButton()">Activate</button>

<hr>
<h4>Two Data Binding property binding[] + event binding() = [()]</h4>
<input type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="firstNameChanged($event)">
<!-- <input type="text" name="firstName" [ngModel]="firstName" (ngModelChange)="firstName = $event"> aslında buna dönüşüyor -->
<p>FirstName: {{firstName}}</p>

<input type="text" name="firstName" ngModel (ngModelChange)="firstNameChanged($event)">
<input type="text" name="lastName" (change)="lastNameChanged($event)">
<hr>

<h4>Pipes</h4>
{{messageForPipeEx | uppercase}}
<br>
{{currentDate}}
<p>date: {{ currentDate | date}}</p>
<p>medium : {{currentDate | date:'medium'}} </p>
<p>short : {{currentDate | date:'short'}} </p>
<p>fullDate : {{currentDate | date:'fullDate'}} </p>
<p>longDate : {{currentDate | date:'longDate'}} </p>
<p>mediumDate : {{currentDate | date:'mediumDate'}} </p>
<p>shortDate : {{currentDate | date:'shortDate'}} </p>
<p>mediumTime : {{currentDate | date:'mediumTime'}} </p>
<p>dd-MM-y : {{currentDate | date:'dd-MM-y'}} </p>
<p>dd-MM-yy HH:mm : {{currentDate | date:'dd-MM-yy HH:mm'}} </p>

<!-- multiple pipe -->
<p>Mulitple Pipe: {{currentDate | date:'fullDate' | uppercase}}</p>
<!-- <p>Mulitple Pipe: {{currentDate | uppercase | date:'fullDate' }}</p> sıralama önemli -->

<!-- multiple parameter pipe -->
{{ 123.451 | currency:'TRY':'symbol':'1.2-2'}}
<!-- yuvarlar -->
{{ 123.456123 | currency:'TRY':'symbol':'1.2-3'}}

{{gibUser | json}}

<!-- custom pipe -->
<p>
  {{ randomText | shorten:15 }}
</p>

<!-- Async Pipe -->
<p>Current Time: {{currentTime$ | async | date:'medium'}}</p>

<p>Random Date: {{randomDate}}</p>

<h4>Directives</h4>
<!-- structural directive  *ngIf *ngFor ngSwitch-->

<div *ngIf="serverCreated; else noServer">
  Server is created
</div>

<ng-template #noServer>
  Server is not created
</ng-template>

<ng-container *ngTemplateOutlet="noServer"></ng-container>
<ng-container *ngTemplateOutlet="noServer"></ng-container>
<ng-container *ngTemplateOutlet="noServer"></ng-container>

<!-- trackby -->

<p>
  <button (click)="addNewUser()">Add New User</button>
  <button (click)="refreshUserList()">Refresh User List</button>
</p>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of users; let i = index; let first=first; let last=last; let odd=odd; let even=even; trackBy: trackByFn"
      [ngClass]="{first: first, last: last, odd: odd, even: even}">
      <td>{{i}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.age}}</td>
      <td>{{user.email}}</td>
      <td><button (click)="deleteUser(i)">Delete</button></td>
    </tr>
  </tbody>
</table>

<div [ngSwitch]="luckyNumber">
  <p *ngSwitchCase="1">Number is 1</p>
  <p *ngSwitchCase="2">Number is 2</p>
  <p *ngSwitchCase="3">Number is 3</p>
  <p *ngSwitchCase="6">Number is 6</p>
  <p *ngSwitchDefault="10">Default number is 10</p>
</div>

<!-- behavior directives  []-->
<!-- ngModel -->

<div [ngClass]="{makeRed: isValid()}">Lorem ipsum dolor sit amet.</div>
<div [ngClass]="{'makeRed': isValid(),'makeBlackBg': isValid()}">Lorem ipsum dolor sit amet.</div>
<div [ngClass]="['makeRed', 'makeBlackBg']">Lorem ipsum dolor sit amet.</div>


<div [ngStyle]="{'color': isValid() ? 'blue' : 'red'}">Lorem ipsum dolor sit amet consectetur.</div>

<p appTurnGreen>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt?
</p>

<div style="height: 500px;"></div>